<div class="modal fade @_showStatus" tabindex="-1" role="dialog" aria-hidden="true" style="display: @_displayStatus">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">@_titleText</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" @onclick="Hide">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @BodyText
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" @onclick="Hide">Close</button>
            </div>
        </div>
    </div>
</div>

@code
{
    string _displayStatus = "none";
    string _showStatus = "";
    string _titleText;

    [Parameter]
    public Action CloseCallback { get; set; }

    [Parameter]
    public string BodyText { get; set; }

    public async Task ShowConfirmation()
    {
        _titleText = "Confirmation";
        await Show();
    }

    public async Task ShowError()
    {
        _titleText = "Error";
        await Show();
    }

    async Task Show()
    {
        _displayStatus = "block";
        _showStatus = "show";
        await base.InvokeAsync(StateHasChanged);
    }

    public async Task Hide()
    {
        _displayStatus = "none";
        _showStatus = "";
        CloseCallback?.Invoke();
        await base.InvokeAsync(StateHasChanged);
    }

}