<!-- Display the tab headers -->
<CascadingValue Value=this>
    <ul class="nav nav-tabs">
        @ChildContent
    </ul>
</CascadingValue>

<!-- Display body for only the active tab -->
<div class="nav-tabs-body p-4">
    @ActiveTab?.ChildContent
</div>

@code {
    List<ITab> _tabs = new List<ITab>();

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    public ITab ActiveTab { get; private set; }

    public void AddTab(ITab tab)
    {
        if (tab != null) 
        { 
            _tabs.Add(tab);
            if (ActiveTab == null)
            {
                SetActivateTab(tab);
            }
        }
        }
        

    public void RemoveTab(ITab tab)
    {
        if (tab != null) 
        { 
            _tabs.Remove(tab);
            if (ActiveTab == tab)
            {
                SetActivateTab(null);
            }
        }
        
    }

    public void SetActivateTab(ITab tab)
    {
        if (tab != null && ActiveTab != tab)
        {
            ActiveTab = tab;
            StateHasChanged();
        }
    }

    public void SetActivateTab(int index)
    {
        ActiveTab = _tabs[index];
        StateHasChanged();
    }
}