<div id="toast" class="@_showStatus" style="background-color: @_backgroundColor">
    <div id="desc">@Message</div>
</div>

@code {
    string _showStatus = "";
    string _backgroundColor = "#17a2b8";

    [Parameter]
    public string Message { get; set; }

    async Task Show()
    {
        _showStatus = "show";
        await base.InvokeAsync(StateHasChanged);
        await Task.Delay(5000);
        _showStatus = "";
        await base.InvokeAsync(StateHasChanged);
    }

    public async Task ShowInfo()
    {
        _backgroundColor = "#17a2b8";
        await Show();
    }

    public async Task ShowError()
    {
        _backgroundColor = "#dc3545";
        await Show();
    }
}
